aiohappyeyeballs
aiohttp
aiosignal
alabaster
arrow
astroid
asttokens
async-timeout
asyncssh
atomicwrites==1.4.0
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
autopep8
babel
backcall
backports.tarfile
bcrypt
beautifulsoup4
binaryornot
black
bleach
Bottleneck
brotlicffi
certifi==2025.8.3
cffi==1.15.1
chardet
charset-normalizer==3.1.0
click
cloudpickle
colorama
comm
constantly==15.1.0
cookiecutter
cryptography
curl_cffi==0.12.0
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
docstring-to-markdown
docutils
exceptiongroup
executing
fastjsonschema
flake8
frozendict==2.4.6
frozenlist
hyperlink==21.0.0
idna==3.4
imagesize
importlib_metadata
incremental==22.10.0
inflection==0.5.1
intervaltree
ipykernel
ipython
isodate==0.6.1
isort
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
logger==1.4
logzero==1.7.0
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
more-itertools
multidict
multitasking==0.0.12
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
numexpr
numpy
numpydoc
packaging
pandas
pandocfilters
parso
pathspec
peewee==3.18.2
pexpect
pickleshare
platformdirs
pluggy
ply==3.11
prompt-toolkit
propcache
protobuf==6.31.1
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pycryptodome==3.23.0
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyotp==2.8.0
pyparsing==3.1.0
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
python-dateutil==2.8.2
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz==2023.3
pyuca
pywin32==308
pywin32-ctypes
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
rdflib==6.3.2
rdflib-jsonld==0.6.2
referencing
requests==2.31.0
rich
rope
rpds-py
Rtree
simplejson==3.19.1
sip
six==1.16.0
smartapi-python==1.4.8
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
superqt
text-unidecode
textdistance
three-merge
timedelta==2020.12.3
timestamp==0.0.1
tinycss2
tomli
tomlkit
tornado
traitlets
Twisted==22.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.6.3
tzdata
ujson
Unidecode
urllib3==2.0.3
watchdog
wcwidth
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
whatthepatch
win-inet-pton
wrapt
yapf
yarl
yfinance==0.2.65
zipp
zope.interface==6.0
